/* Fonts */
@font-face {
  font-family: myFirstFont;
  src: url("/src/Fonts/Qanelas-Font-Family/woff2/QanelasSoft-SemiBold.woff2");
}
@font-face {
  font-family: mySecondFont;
  src: url("/src/Fonts/Qanelas-Font-Family/woff2/QanelasSoft-SemiBold.woff2");
}
@font-face {
  font-family: myThirdFont;
  src: url("/src/Fonts/Qanelas-Font-Family/woff2/QanelasSoft-Medium.woff2");
}
@font-face {
  font-family: myFourthFont;
  src: url("/src/Fonts/Qanelas-Font-Family/woff2/QanelasSoft-Light.woff2");
}
@font-face {
  font-family: myFifthFont;
  src: url("/src/Fonts/Qanelas-Font-Family/otf/QanelasSoft-Bold.otf");
}
@font-face {
  font-family: mySixthFont;
  src: url("Fonts/Qanelas-Font-Family/ttf/QanelasSoft-Black.ttf");
}

/* swiper */
.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #d9d9d9 !important;
  opacity: unset !important;
}
.swiper-pagination-bullet-active {
  background-color: #e87421 !important;
}
